
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');:root {
  --main-bg-color: #7bb4e3;
}
header{
  font-family: 'Quicksand', sans-serif;
}
.navbar-nav {
  margin-left: 600px;
}
.navbar-brand {
  color: var(--main-bg-color);
  font-size: 34px;
  font-weight: 600;
  margin-left: 200px;
}
.navbar-nav .nav-item {
  margin: 5px 20px;
}
.nav-link .active {
  font-weight: 500px;
  color: var(--main-bg-color);
}
.home{
  height: 100vh;
  display: flex;
  align-items: center;
padding: 10%;
}
.home-content{
  font-family: 'Quicksand', sans-serif;
  background: yellow;
  max-width: 600px;
}