@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto+Condensed&display=swap");
:root {
  --main-bg-color: #7bb4e3;
}
.design {
  font-family: "Dancing Script", cursive;
  position: absolute;
  top: 23%;
  left: 20%;
  z-index: 2;
  font-size: 70px;
  color: #f8b735f3;
  padding: 2px;
}

header {
  font-family: "Quicksand", sans-serif;
}
.navbar-nav {
  margin-left: 600px;
}
.navbar-brand {
  color: var(--main-bg-color);
  font-size: 34px;
  font-weight: 600;
  margin-left: 200px;
}
.navbar-nav .nav-item {
  margin: 5px 20px;
}
.nav-link .active {
  font-weight: 500px;
  color: var(--main-bg-color);
}
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0% 10%;
  background: rgba(243, 243, 243, 0.911);
}
.home-content {
  font-family: "Quicksand", sans-serif;
  /* background: yellow; */
  max-width: 600px;
}
.home-content h3 {
  color: var(--main-bg-color);
  font-weight: 700;
}
.btn-box a {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  margin: 0px 3px;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
  border: 3px solid var(--main-bg-color);
  border-radius: 8px;
  letter-spacing: 1px;
}
.btn-box a:hover {
  background: #81b7e3e8;
  font-size: 16px;
}
.mypic img {
  height: 300px;
  width: 300px;
  position: absolute;
  border-radius: 50%;
}
.mypic {
  height: 300px;
  width: 300px;
  /* background: red; */
  position: relative;
  top: 0px;
  left: 20%;
}
footer {
  height: 15vh;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer a i {
  margin: 5px;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 30px;
  color: var(--main-bg-color);
}

