@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto+Condensed&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dancing Script',cursive ;

}
body{
  background-image: url('assets/forest2.png');
  background-size: 100% 900px;
  background-repeat: no-repeat;
}
h1 {
  margin: 20px;
  font-size: 4em;
  display: flex;
  justify-content: center;
  color: #f85b35d6;
}
.container {
  position: relative;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  background-color:#72bcd4;
  opacity: 85%;
  height: 400px;
  width: 600px;
  align-items: center;

  border-radius: 25px;
  border: 5px solid #1bb9ed;
}
.container img {
  position: absolute;
  top: 7%;
  left: 7%;
  height: 50px;
}

.container label {
    font-size: 18px;
  margin: 25px auto 10px;
  display: block;
  width: 250px;
  color: whitesmoke;
  font-family: "Roboto Condensed", sans-serif;
}
.container input {
  display: block;
  width: 250px;
  height: 25px;
  border-radius: 5px;
  height: 30px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  padding: 2px;

}
.dropdown.inputs{
  display: block;
  width: 250px;
  height: 25px;
  border-radius: 5px;
  height: 30px;
  font-size: 18px;
  padding: 2px;
}
.dropdown.outputs{
  display: block;
  width: 250px;
  height: 25px;
  border-radius: 5px;
  height: 30px;
  font-size: 18px;
  padding: 2px;
}
button {
  position:relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: 600;
    font-size: 18px;
  margin-top: 40px auto;
  padding: 10px 20px;
  border-radius: 8px;
  color: whitesmoke;
  background-color: #35aed6;
}

/* .input-group{
    background: wheat;
    width: 300px;
}
.output-group{
    background: wheat;
    width: 300px;
} */
